body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #020617;
    color: rgb(238, 238, 238);
}

.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #020611;
}

.logo{
    font-size: 24px;
    font-weight: bold;
}


.topbar button{
    background:linear-gradient(45deg,#041036,#041036);
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    color:white;
    transition:0.3s;
}

.topbar button:hover{
    transform:scale(1.1);
    box-shadow:0 0 15px #3b86db;
}

.container{
    text-align: center;
    margin-top: 60px;
}

.links a{
    display: block;
    text-decoration: none;
    background: #1e293b;
    color: white;
    padding: 15px;
    margin: 10px auto;
    width: 200px;
    border-radius: 10px;
    transition:0.4s;
}

.links a:hover{
    transform:scale(1.1);
    box-shadow:0 0 15px #3b86db;
}

.container{
    text-align: center;
    margin-top: 200px;
}

.links a{
    display:block;
    text-decoration:none;
    background:linear-gradient(45deg, #050c36, #041036);
    color:white;
    padding:15px;
    margin:10px auto;
    width:200px;
    border-radius:10px;
}

#pessoal{
    display: none;
}

.container button{
    background:linear-gradient(45deg,#050c36,#041036);
    border:none;
    padding:12px 20px;
    border-radius:12px;
    cursor:pointer;
    font-weight:bold;
    margin-top:20px;
    color:white;
    font-size:16px;
    transition:0.3s;
}

.container button:hover{
    transform:scale(1.1);
    box-shadow:0 0 15px #3b86db;
}

.logo{
    font-size:24px;
    font-weight:bold;
    color:white;
    transition:0.3s;
    cursor: pointer;
}

.logo:hover{
    color:#071b69;
    text-shadow: 0 0 5px #040b27,
        0 0 10px #040b27,
        0 0 20px #040b27,
        0 0 40px #040b27;
}

.descricao{
    opacity:0.9;
    margin-bottom:30px;
    font-size:18px;
    max-width:600px;
    margin-left:auto;
    margin-right:auto;
    line-height:1.5;
    text-shadow:0 0 10px rgba(56,189,248,0.3);
}

h2{
    font-size:32px;
    margin-bottom:10px;
    background:linear-gradient(45deg,#ffffff,#ffffff);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}


.descricao{
    opacity:0.85;
    margin-bottom:30px;
    font-size:18px;
    max-width:600px;
    margin-left:auto;
    margin-right:auto;
    line-height:1.6;
    text-align:center;
}

.links a i{
    font-size:22px;
}

.icon{
    width:22px;
    height:22px;
}

.container{
    text-align:center;
    margin-top:60px;

    opacity:1;
    transform:translateY(0);
    transition:0.4s;
}


.hide{
    opacity:0;
    transform:translateY(20px);
    pointer-events:none;
}

.links a{
    transition:0.3s;
}

.links a:hover{
    transform:scale(1.08);
    box-shadow:0 0 15px rgba(56,189,248,0.5);
}

.sobre{
    margin-top:40px;
    max-width:600px;
    margin-left:auto;
    margin-right:auto;
    padding:25px;
    background:#020617;
    border-radius:12px;
    box-shadow:0 0 20px rgba(56,189,248,0.15);
}

.sobre h3{
    margin-bottom:10px;
    color:#38bdf8;
}

.sobre p{
    opacity:0.9;
    line-height:1.6;
}


.img-aba2 {
  position: fixed;  
  bottom: 20px;
  right: 10px;
  width: 120px;
  opacity: 0.9;
}
