*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(180deg, #160101, #160000);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eaeaea;
}

.container {
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.container h1 {
  font-size: 36px;
  margin-bottom: 10px;
  color: #ffffff;
  text-shadow: 0 0 10px rgba(255, 59, 59, 0.3);
}

.container p {
  font-size: 14px;
  margin-bottom: 30px;
  color: #cfcfcf;
}

.link-btn {
    display: block;
    background-color: #1f1f1f;
    color: #ffffff;
    text-decoration: none;
    padding: 14px;
    margin-bottom: 12px;
    border-radius: 6px;
    transition: 0.3s;
}

.link-btn:hover{
    background-color: #140002;
    transform: scale(1.04);
}

.link-btn i {
  font-size: 18px;
}

.link-btn {
  display: flex;
  align-items: center;
  gap: 10px;
}

.top-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #160000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
    font-weight: bold;
    z-index: 1000;
}

.profile-pic{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}
.profile-name{
    font-size: 16px;
}

.profile-name {
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  transition: text-shadow 0.3s ease, color 0.3s ease;
}

.profile-name:hover{
    color:#ffffff;
    text-shadow:
    0 0 5px rgba(255, 255, 255, 0.6),
    0 0 15px rgba(255, 255, 255, 0.6),
    0 0 30px rgba(255, 255, 255, 0.6);
}
