body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1c1b1b;
}

h1{
    color: rgb(255, 255, 255);
}

.calculator{
    background-color: rgba(201, 198, 198, 0.986);
    width: 300px;
    border-radius: 10px;
    padding: 20px;
}

#display{
    width: 100%;
    box-sizing: border-box;
    height: 60px;
    border: none;
    border-radius: 6px;
    background-color: #f5f0f0f0;
    text-align: right;
    font-size: 20px;
    margin-bottom: 16px;
}

.boxbuttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 60px);
    gap: 10px;

}

.boxbuttons button{
    border: none;
    border-radius: 6px;
    font-size: 20px;
}

button:hover{
    background-color: #bdb7b7;
    cursor: pointer;
    transition: .4s;

}

.btn-zero{
    grid-column: 1 / 3;
}

.btn-result{
    grid-row: 4 / 6;
    height: 100%;
    grid-column: 4;
}
